header{
    margin:0;
}
body{
    margin:0;
}
/*-------------------------------Pictures--------------------------*/

.logo {
    background: url("../images/energie_big.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    top: 20px; 
    left:60px;
    height:200px;
    width:600px;  
        }
.pic {
    background: url("../images/gym.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
    margin-bottom:70px;
    max-width:1200px;
    max-height:400px;
    height: 500px;
    width:1200px;
    
    }

#menu{
    margin-left:600px;
    margin-right:100px;
    margin-top:75px;
    font-size:110%;
    list-style-type: none;
    text-decoration:none;
    letter-spacing:4px;
    font-weight:500;
        }

#menu li{
    float:right;
    margin-right:25px;
}
#menu ul li{
    letter-spacing:4px;
        }

ul li a{
     color:black;
     font-weight:600px;
    }

.heading h4 {
    margin-top:50px;
    margin-left: 100px;
    font-weight:600;
    }

.heading h5{
    margin-left:150px;
    top-margin:200px;
}

.bottom-detail{
    margin-left:40px;
}
.bottom-detail div{
   color: #fafafa;
   background-color: rgba(0,0,0,.6);
   width: 19%;
   height: 200px;
   float: left;
   padding: 20px 0 0 10px;
   text-align: center;
   margin: 2px;
   bottom-margin:20px;
    }

   div h3{
       font-size:20px;
   }
   .social-links i {
    font-size: 400%;
    margin: 0px;
    padding: 5%;
    color: #fafafa;
}
/* ---------------------CLASSES-------------------------------------*/
.classes-info{
    height:80px;
    }
.classes-heading-desc{
    margin-top:80px;
    letter-spacing:4px;
   }
.left-desc{
    margin-top:50px;
    width:50%;
    float:left;
}
.left-desc li{
    margin-left: 100px;
    text-align:left;
    letter-spacing: 2px;
}
.right-desc{
    width:50%;
    float:right;
 }
.right-desc li{
    text-align:left;
    margin-right: 100px;
    letter-spacing: 2px;
}
/* ---------------------CLASSES-------------------------------------*/
/--------------------------Classes Images----------------------------*/

.male-swimming{
    float:right;
    background: url("../images/male_swimming.png");
    max-width:500px;
    max-height:500px;
    width:100%;
    height:auto;
    }
.pool{
    background: url("../images/swimming.png");
    max-width:500px;
    max-height:500px;
    width:100%;
    height:auto;
          }

.kids{
    background: url("../images/KIDS-small.png");
    max-width:500px;
    max-height:500px;
    width:100%;
    height:auto;
          }
/--------------------------Classes Images----------------------------*/

/* ---------------------Footer-------------------------------------*/
footer{
    height: 100px;
}
list-inline{
    display:inline;
}
/* ---------------------Footer-------------------------------------*/